body {
    background-color: rgb(33, 36, 44);
}
h1, h2, p {
    color: rgb(243, 255, 251); 
    font-family: 'Courier New', Courier, monospace; 
    font-weight: bolder;
}
div {
    border-style: solid;
    color: rgb(243, 255, 251);
    margin-top: 10px;
    animation-duration: 1s;
    animation-fill-mode: both;
}
.title {
    padding-left: 30px;
}
.arrow {
    float: left;
    margin-top: 25px;
    padding-left: 10px;
    animation-duration: 1s;
    animation-fill-mode: both;
}
.content {
    padding-left: 5px;
}
@keyframes expand {
    from {
        height: 81px;
    }
    to {
        height: 500px;
    }
}
@keyframes reverse {
    from {
        height: 500px;
    }
    to {
        height: 81px;
    }
}
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(90deg);
    }
}
@keyframes rotate-reverse {
    from {
        transform: rotate(90deg);
    }
    to {
        transform: rotate(0deg);
    }
}